  body {
    width: 165mm; 
    height: 105mm; 
  }

  #main {
    background-image: url('background.jpg'); 
    background-repeat: no-repeat; 
    width: 165mm; 
    height: 105mm; 
    background-size: 165mm 105mm;
  }

  .buttonrow {
    position: absolute; 
    top: 105mm; 
    left: 0mm; 
    width: 165mm; 
    height: 16mm; 
    display:flex;
  }

  .buttondiv {
    width: 35mm; 
    height: 16mm; 
    text-align: center;
  }

  .buttonhelper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

  .buttonimg {
    width: 12mm; 
    height: 12mm; 
    vertical-align: middle;
  }

  .backbuttonimg {
    width: 16mm; 
    height: 15mm; 
    vertical-align: middle;
  }

  .buttonimg:active {
    width: 22mm; 
    height: 15mm; 
    vertical-align: middle;
  }

  .envases {
    width: 35mm;
    width: 14mm;
    margin-top: 5mm;
    margin-right: 5mm;
    text-align: center;
  }

  .timebutton {
    width: 15mm;
    height: 15mm;
    margin: 2mm 2mm 2mm 2mm;
    font-size: xx-large;
  }

  .membutton {
    width: 45mm;
    height: 15mm;
    margin: 2mm 2mm 2mm 2mm;
    font-size: x-large;
    text-align: center;
  }

  .buttongosave {
    width: 60mm;
    height: 20mm;
    margin: 2mm 2mm 2mm 2mm;
    font-size: x-large;
    text-align: center;
  }

  .buttongoread {
    width: 60mm;
    height: 20mm;
    margin: 2mm 2mm 2mm 2mm;
    font-size: x-large;
    text-align: center;
  }

  .buttonpoweroffsys {
    width: 30mm;
    height: 20mm;
    margin: 2mm 2mm 2mm 2mm;
    font-size: x-large;
    text-align: center;
  }