body {
    background-image: url('background.jpg'); 
    background-repeat: no-repeat; 
    width: 168mm; 
    height: 100mm; 
    background-size: 168mm 100mm;
  }

  .buttonrow {
    position: absolute; 
    top: 96mm; 
    left: 0mm; 
    width: 168mm; 
    height: 16mm; 
    display:flex;
  }

  .buttondiv {
    width: 36mm; 
    height: 16mm; 
    text-align: center;
  }

  .buttonhelper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

  .buttonimg {
    width: 18mm; 
    height: 12mm; 
    vertical-align: middle;
  }

  .buttonimg:active {
    width: 19mm; 
    height: 13mm; 
    vertical-align: middle;
  }